/* * * * * * HEADER * * * * * */

header {
  display: flex;
  /* flex-flow: column; */
}

#logo {
  max-width: 350px;
}

#logo2 {
  max-width: 150px;
}

.contacts {
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  margin: 4rem auto;
}


.contacts-icon {
  max-width: 50px;
}






/* * * * * * * * * * * * * * * * *
* * * * * *ACCUEIL * * * * * *
* * * * * * * * * * * * * * * * */

.accueil-text-boxes {
  max-width: 600px;
  padding: 1rem;
  margin: 0 1rem;
}

.accueil-text-boxes h2 {
  font-size: 2rem;
  color: var(--main-color-dark);
  text-decoration: underline;
  text-decoration-color: var(--main-color-accent2);
  -moz-text-decoration-color: var(--main-color-accent2);
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;

  margin-bottom: 1.5rem;
}


.accueil-text-boxes h3 {
  font-size: 1.7rem;
}


.aumoinsun {
  font-weight: bold;
}

.no-pointer,
.no-pointer:hover,
.no-pointer:active {
  cursor: default;
  background-color: grey;
  border-color: grey;
}

#statspartenaires {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.statrow {
  display: flex;
  flex-flow: row;
  gap: 5px;
  border-bottom: 0.1px solid gray;
}

.statrow:nth-child(even):not(:first-child) {
  background-color: #eee;
}

.statrowfirst {
  margin-bottom: 15px;
  font-weight: bold;
}


.statid {
  flex: 1;
  padding-left: 10px;
}

.statnom {
  flex: 4;
}

.statdate {
  flex: 3;
  text-overflow: clip;
}





.stattotal {
  flex: 2;
}

.listeDesSpes {
  font-weight: 500;
}

.img-petit {
  width: 30px;
}

.sous-carte {
  background-color:rgb(224, 224, 224);
}

.agent-bonne-specialite {
  color: blue;
}

.inactif {
  background-color: grey !important;
  border: 0;
}

.inactif-force {
  background-color: grey !important;
  border: 0;
}

.inaccessible {
  display: none;
}

.plus-minus-circle {
  width: 2rem;
  
}


.max-width-100vw{
  max-width: 100vw;
}

.max-width-100percent{
  max-width: 100%;
}

#connexion-pass {
  height: 130px;
}

#connexion-pass {
  position: relative;
}

#form-connexion #password {
  position: absolute;
  top: 30px;
  padding-right: 40px;
}

#seepass {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
}


#passwordHelpInline {
  position: absolute;
  top: 65px;
  left: 5px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 991 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 991px) {
  
  header {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #accueil-text-boxes{
    flex-direction: column;   
  }

  .accueil-text-boxes{
    max-width: 90%;
  }

  

  

  .contacts {
/*     flex-direction: column;
    justify-content: space-around;
 */    font-size: 1.1rem;
    margin: 1rem auto;
  }

  .contacts > div:first-child {
    flex-direction: column;
  }
  
  .contacts > div {
    align-items: center;
  }
  
  .contacts > div > div {
    margin-top: 1rem;
  }
  
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 732 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 732px) {
  
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 560 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width : 560px) {

  #logo {
    max-width: 250px;
  }

  .accueil-text-boxes{
    max-width: 95%;
  }

  .accueil-text-boxes h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .accueil-text-boxes h3 {
    font-size: 1.6rem;
  }

 

  .contacts div {
    font-size: 1rem;
  }

  .contacts-icon {
    max-width: 35px;
  }

  .contacts-lieu {
    flex-flow: column;
  }


  .statdate pre {
    word-spacing: -3px;
  }
  .stattotal {
    flex: 1;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 400 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width : 400px) {
  .accueil-text-boxes h2 {
    font-size: 1.6rem;
  }

  .accueil-text-boxes h3 {
    font-size: 1.4rem;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * PRINT * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media print {
  
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: verdana, arial;
  }
  
  body{
    margin: 0;
    padding: 0;
    border-box: none;
    border: 0;
  }

  .et-table, .et-button{
    border: 0;
    margin: 0;
    padding: 0;
  }

  #tableEtiquettes tr{
    height: 3.38cm;
    page-break-inside: avoid; 
    page-break-after: auto;
  }


  button, nav, header, footer{
    display: none;
  }

}






















/* ****************** ETIQUETTES ************************** */

#tableEtiquettes, #tableEtiquettes span, #tableEtiquettes br, #tableEtiquettes td, #tableEtiquettes tr{
  margin: 0;
  padding: 0;
}

/* .marg0, .pad0{
  margin: 0;
  padding: 0;
}

br{
  margin: 0;
  padding: 0;
}
 */
#tableEtiquettes{
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-family: verdana, arial;
  border-collapse: unset;
}

.police-blanche{
  color: rgba(255,255,255,1);
  opacity: 0;
}

#tableEtiquettes tr{
  
  }
  
  #tableEtiquettes td{
    padding: 0.3cm 0;
    margin: 0;
    border: 0;
    
  }
  
  #printbutton, #et-button{
    width: 100px;
    margin: 1rem auto 1rem auto;
    background-color: rgba(38,174,144,1);
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(38,174,144,1);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 7px 10px 0 rgba(0,0,0,0.19);
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
      transition-duration: 0.4s;
  }
  
  #printbutton:hover, #et-button:hover {
    background-color: #F0F0F0;
    color: black;
    width: 110px;
    border-color: rgba(38,174,144,0.7);
    font-weight: 700;
    letter-spacing: 0.7px;
    
  }
  
  .et-diane {
    font-weight: 700;
    font-size: 0.4cm;
    line-height: 0.8cm;
  }
  
  .et-nom{
    font-size: 0.4cm;
    line-height: 0.8cm;
  }
  
  .et-animal{
    font-size: 0.6cm;
    font-weight: 700;
    line-height: 0.6cm;
  }
  
  .et-date{
    font-size: 0.4cm;
    line-height: 0.6cm;
  }
  
  #logo2-div {
    display: none;
  }
  
#nav-ul > li:not(:last-child) {
  border-right: 0.1px solid #d6d6d6;
}

