/* * * * * * HEADER * * * * * */

header {
  display: flex;
  /* flex-flow: column; */
}

#logo {
  max-width: 350px;
}

#logo2 {
  max-width: 150px;
}

.contacts {
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  margin: 4rem auto;
}


.contacts-icon {
  max-width: 50px;
}


/* * * * * * NAVBAR * * * * * */

nav {
  background-color: var(--main-color-dark);
  color: var(--main-color-white)!important;

}
nav a {
  color: var(--main-color-white)!important;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color-accent2)!important;
  -moz-text-decoration-color: var(--main-color-accent2)!important;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

#navbar-toggler-button {
  background-color: var(--main-color-white)!important;
  
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 0, 23, 49%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  /* background-image: url('../img/icones/map.png')!important; */

}

/* Sous-menu caché / Affiché si survol de "Nos références". */

#sub-nav-univers {
  display: none;
  background-color: var(--main-color-dark);
  min-width: 200px;

  z-index: 200;
}

#sub-nav-univers > li {
  margin: 7px;
}

#nav-nos-references:hover ul {
  display: block;
}


/* * * * * * * * * * * * * * * * * 
* * * * * * SLIDER * * * * * * *
* * * * * * * * * * * * * * * *   */

#slider-back {
  background: linear-gradient(to bottom, var(--main-color-accent2), var(--main-color-accent2) 85%, #fff 85%, #fff 100%);
}

div#slider { 
  width: 100%; 
  max-width: 900px; 
  overflow: hidden; 
  margin: 0 auto;
  -webkit-box-shadow: 0px 13px 14px -5px rgba(0,0,0,0.52); 
  box-shadow: 0px 13px 14px -5px rgba(0,0,0,0.52);
}

div#slider figure {
  position: relative;
  width: 700%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;

  cursor:pointer;
}

div#slider figure img { 
  width: calc(100% / 7); 
  height: auto; 
  float: left; 
}

div#slider figure .slider-divs { 
  top: 25px;
  /* left: 10px + calc(100% / 7); */
  width: calc(100% / 7);
  opacity: 0.8;
  z-index: 100;
}

div#slider figure .slider-divs span {
  font-size: 3rem;
  color: var(--main-color-dark);
  background-color: var(--main-color-accent2);

  padding: 6px;
  margin-left: 20px;

  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}


@keyframes slidy {
  0% { left: 0%; }
  14% { left: 0%; }

  18% { left: -100%; }
  32% { left: -100%; }
  
  36% { left: -200%; }
  50% { left: -200%; }
  
  54% { left: -300%; }
  68% { left: -300%; }
  
  72% { left: -400%; }
  86% { left: -400%; }

  90% { left: -500%; }
  96% { left: -500%; }

  100% { left: -600%; }
}

div#slider figure {
  position: relative;
  width: 700%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 20s slidy infinite;
  -webkit-animation: 20s slidy infinite;
  transition: ease;
  -webkit-transition: ease;
  -moz-transition: ease;
  -ms-transition: ease;
  -o-transition: ease;
}

#slider-btns-phone-screen {
  display: none;
}

#slider-btns {
  position: relative;
  left: 0px;
  top: 0px;
  max-height: 0px;
  z-index: 150;

  overflow: visible;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#slider-btns > div:first-child {
  display: flex;
  margin-top: 350px;
  margin-left: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.slider-btn {
  width: 45%;
}

.slider-btn > button {
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--main-color-accent2)!important;
  color: white;
  border: 1px solid var(--main-color-accent);
  width: 90%;
}

.slider-btn > button:hover {
  color: var(--main-color-dark);
  border: 1px solid var(--main-color-dark);
}


/* * * * * * * * * * * * * * * * *
* * * * * *ACCUEIL * * * * * *
* * * * * * * * * * * * * * * * */

.accueil-text-boxes {
  max-width: 600px;
  padding: 1rem;
  margin: 0 1rem;
}

.accueil-text-boxes h2 {
  font-size: 2rem;
  color: var(--main-color-dark);
  text-decoration: underline;
  text-decoration-color: var(--main-color-accent2);
  -moz-text-decoration-color: var(--main-color-accent2);
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;

  margin-bottom: 1.5rem;
}


.accueil-text-boxes h3 {
  font-size: 1.7rem;
}


.aumoinsun {
  font-weight: bold;
}

.no-pointer,
.no-pointer:hover,
.no-pointer:active {
  cursor: default;
  background-color: grey;
  border-color: grey;
}

#statspartenaires {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.statrow {
  display: flex;
  flex-flow: row;
  gap: 5px;
  border-bottom: 0.1px solid gray;
}

.statrow:nth-child(even):not(:first-child) {
  background-color: #eee;
}

.statrowfirst {
  margin-bottom: 15px;
  font-weight: bold;
}


.statid {
  flex: 1;
  padding-left: 10px;
}

.statnom {
  flex: 4;
}

.statdate {
  flex: 3;
  text-overflow: clip;
}





.stattotal {
  flex: 2;
}

.listeDesSpes {
  font-weight: 500;
}

.img-petit {
  width: 30px;
}

.sous-carte {
  background-color:rgb(224, 224, 224);
}

.agent-bonne-specialite {
  color: blue;
}

.inactif {
  background-color: grey !important;
  border: 0;
}

.inactif-force {
  background-color: grey !important;
  border: 0;
}

.plus-minus-circle {
  width: 2rem;
  
}


.max-width-100vw{
  max-width: 100vw;
}

.max-width-100percent{
  max-width: 100%;
}

#connexion-pass {
  height: 130px;
}

#connexion-pass {
  position: relative;
}

#form-connexion #password {
  position: absolute;
  top: 30px;
  padding-right: 40px;
}

#seepass {
  position: absolute;
  top: 40px;
  right: 20px;
  cursor: pointer;
}


#passwordHelpInline {
  position: absolute;
  top: 65px;
  left: 5px;
}

/* ********** UNIVERS ************ */
#tout-afficher{
  display: none;
}


.univers-sticker{
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 250px;
  margin: 5px;
  border: 1px solid #777;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.univers-sticker>div{
  background-color: rgba(38,174,144,0.7);
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-top: 10%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#univers-enfant-div {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 2rem;
}

.univers-enfant {
  min-height: 3rem;
  background-color: var(--main-color-accent-light);
  margin: 1px;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ****************** PARTENAIRES ************************** */
.partenaire-sticker, .univers-sticker {
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.44);
  transition: transform 0.5s, box-shadow 0.5s ;
  -webkit-transition: transform 0.5s, box-shadow 0.5s ;
  -moz-transition: transform 0.5s, box-shadow 0.5s ;
  -ms-transition: transform 0.5s, box-shadow 0.5s ;
  -o-transition: transform 0.5s, box-shadow 0.5s ;
}

.partenaire-sticker:hover,.univers-sticker:hover {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.hide-partenaires{
  display: none;
}

#croix-close-partenaire{
  font-size: 2rem;
  cursor: pointer;
}

#partenaire-detail{
  display: none;
}

.partenaire-sticker{
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 250px;
  margin: 5px;
  border: 1px solid #777;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.partenaire-sticker>div{
  background-color: rgba(174, 115, 38, 0.7);
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-top: 5%;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.partenaire-logo{
  max-width: 300px;
  max-height: 250px;
  margin: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
}

/* DEVENIR PARTENAIRE */

#lien-form-devenir-partenaire-up {
  display: none;
}
#lien-form-devenir-partenaire-down {
  display: inline;  
}

.bonjour {
  margin-top: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 991 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 991px) {
  
  header {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #accueil-text-boxes{
    flex-direction: column;   
  }

  .accueil-text-boxes{
    max-width: 90%;
  }

  div#slider figure .slider-divs span {
    font-size: 2.7rem;
  }
  

  #slider-btns > div:first-child {
    margin-top: 300px;
    margin-left: 15px;
  }
  
  .slider-btn > button {
    font-size: 1rem;
    font-weight: 500;
  }
  


  .contacts {
/*     flex-direction: column;
    justify-content: space-around;
 */    font-size: 1.1rem;
    margin: 1rem auto;
  }

  .contacts > div:first-child {
    flex-direction: column;
  }
  
  .contacts > div {
    align-items: center;
  }
  
  .contacts > div > div {
    margin-top: 1rem;
  }
  
  /* * * * * * * * SOUS-MENUS * * * * * * */
  
  
  #sub-nav-univers {
    position: inherit;
  }
  
  
  #lien-form-devenir-partenaire-up {
    display: inline;  
  }
  #lien-form-devenir-partenaire-down {
    display: none;
  }
  
  #update-partenaire-table button {
    font-size: 0.8rem;
    margin: 5px auto;
  }
  
  #logo {
    /* display: none; */
  }
  
  nav {
    flex-direction: row;
  }
  
  .navbar {
    align-items: flex-start;
  }
  
  nav .container-fluid {
    flex: 4;
  }
  
  #logo2-div {
    flex: 1;
  }
  
  #logo2-div {
    /* display: flex; */
  }

  #nav-ul li:not(:last-child) {
    border-right: none;
  }
  
  .navbar-toggler {
    margin-top: 10px;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 732 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 732px) {
  #slider-btns > div:first-child {
    margin-top: 192px;
    margin-left: 15px;
  }
  
  .slider-btn {
    width: 48%;
  }

  .slider-btn > button {
    font-size: 1rem;
    font-weight: 500;
    width: 95%;
  }
  
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 560 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width : 560px) {

  #logo {
    max-width: 250px;
  }

  .accueil-text-boxes{
    max-width: 95%;
  }

  .accueil-text-boxes h2 {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .accueil-text-boxes h3 {
    font-size: 1.6rem;
  }

  div#slider figure .slider-divs span {
    font-size: 2.5rem;
  }

  #slider-btns {
    display: none;
  }
  #slider-btns-phone-screen {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slider-btn {
    width: 80%;
  }

  .contacts div {
    font-size: 1rem;
  }

  .contacts-icon {
    max-width: 35px;
  }

  .contacts-lieu {
    flex-flow: column;
  }


  .statdate pre {
    word-spacing: -3px;
  }
  .stattotal {
    flex: 1;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * MAX 400 px * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width : 400px) {
  div#slider figure .slider-divs span {
    font-size: 1.5rem;
  }

  .accueil-text-boxes h2 {
    font-size: 1.6rem;
  }

  .accueil-text-boxes h3 {
    font-size: 1.4rem;
  }

  .slider-btn {
    width: 95%;
  }
}














/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * PRINT * * * * * * * * 
* * * * * * * * * * * * * * * * * * * * * */


@media print {
  
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: verdana, arial;
  }
  
  body{
    margin: 0;
    padding: 0;
    border-box: none;
    border: 0;
  }

  .et-table, .et-button{
    border: 0;
    margin: 0;
    padding: 0;
  }

  #tableEtiquettes tr{
    height: 3.38cm;
    page-break-inside: avoid; 
    page-break-after: auto;
  }


  button, nav, header, footer{
    display: none;
  }

}






















/* ****************** ETIQUETTES ************************** */

#tableEtiquettes, #tableEtiquettes span, #tableEtiquettes br, #tableEtiquettes td, #tableEtiquettes tr{
  margin: 0;
  padding: 0;
}

/* .marg0, .pad0{
  margin: 0;
  padding: 0;
}

br{
  margin: 0;
  padding: 0;
}
 */
#tableEtiquettes{
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-family: verdana, arial;
  border-collapse: unset;
}

.police-blanche{
  color: rgba(255,255,255,1);
  opacity: 0;
}

#tableEtiquettes tr{
  
  }
  
  #tableEtiquettes td{
    padding: 0.3cm 0;
    margin: 0;
    border: 0;
    
  }
  
  #printbutton, #et-button{
    width: 100px;
    margin: 1rem auto 1rem auto;
    background-color: rgba(38,174,144,1);
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(38,174,144,1);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 7px 10px 0 rgba(0,0,0,0.19);
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
      transition-duration: 0.4s;
  }
  
  #printbutton:hover, #et-button:hover {
    background-color: #F0F0F0;
    color: black;
    width: 110px;
    border-color: rgba(38,174,144,0.7);
    font-weight: 700;
    letter-spacing: 0.7px;
    
  }
  
  .et-diane {
    font-weight: 700;
    font-size: 0.4cm;
    line-height: 0.8cm;
  }
  
  .et-nom{
    font-size: 0.4cm;
    line-height: 0.8cm;
  }
  
  .et-animal{
    font-size: 0.6cm;
    font-weight: 700;
    line-height: 0.6cm;
  }
  
  .et-date{
    font-size: 0.4cm;
    line-height: 0.6cm;
  }
  
  #logo2-div {
    display: none;
  }
  
#nav-ul > li:not(:last-child) {
  border-right: 0.1px solid #d6d6d6;
}

