/* * * * * * DEVENIR PARTENAIRE * * * * * */

#form-create-devenir-partenaire{
  
}

#form-create-devenir-partenaire label {
  margin-top: 14px;
  margin-bottom: 4px;
}

#div-conditions-devenir-partenaire{
  margin-top: 14px;
}

.devenir-partenaire-form-error {
  color: var(--main-color-red);
  font-weight: 600;
  margin-bottom: 1rem;
  display: none;
}

/* ****************** PARTENAIRES ************************** */
.partenaire-sticker, .univers-sticker {
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.44);
  transition: transform 0.5s, box-shadow 0.5s ;
  -webkit-transition: transform 0.5s, box-shadow 0.5s ;
  -moz-transition: transform 0.5s, box-shadow 0.5s ;
  -ms-transition: transform 0.5s, box-shadow 0.5s ;
  -o-transition: transform 0.5s, box-shadow 0.5s ;
}

.partenaire-sticker:hover {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.hide-partenaires{
  display: none;
}

#croix-close-partenaire{
  font-size: 2rem;
  cursor: pointer;
}

#partenaire-detail{
  display: none;
}

.partenaire-sticker{
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 250px;
  margin: 5px;
  border: 1px solid #777;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.partenaire-sticker>div{
  background-color: rgba(174, 115, 38, 0.7);
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-top: 5%;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.partenaire-logo{
  max-width: 300px;
  max-height: 250px;
  margin: 5px;
  border: 1px solid #777;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
}

/* DEVENIR PARTENAIRE */

/* #lien-form-devenir-partenaire-up {
  display: none;
}
#lien-form-devenir-partenaire-down {
  display: inline;  
} */

.bonjour {
  font-size: 1rem;
  padding: 0.5rem;
}
