#reservations-h1 {
  text-align: center;
  margin: 1rem auto;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}


.bureau-card {
  background-color: var(--main-color-accent-light);
  padding: 5px;

  margin-bottom: 1.5rem;

  border: 1px solid #ccc;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bureau-entete {
  display: flex;
  flex-direction: row;
}

.bureau-title {
  flex: 1;
  text-align: center;
}

.bureau-footer {
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.bureau-footer img {
  width: 150px;
  max-width: 35%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.table-calendar-skeleton{
  display: none;
}

.bureau-img1 {
  flex: 1;
  cursor: pointer;
  text-align: center;
}

.bureau-img1 img {
  max-width: 90%;
  width: 300px;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bureau-corps {
  margin: 1rem auto;
  background-color: var(--main-color-accent-light);
}

.table-calendar{
  width: 800px;
  max-width: 95%;
  margin: 1rem auto;
}

.table-calendar th {
  text-align: center;
}

.btn-next-month,
.btn-last-month{
  background-color: var(--main-color-accent-light);
  width: 50px;
  
  transition: background-color 1s, box-shadow 1s;
  -webkit-transition: background-color 1s, box-shadow 1s;
  -moz-transition: background-color 1s, box-shadow 1s;
  -ms-transition: background-color 1s, box-shadow 1s;
  -o-transition: background-color 1s, box-shadow 1s;
}

.btn-next-month:hover,
.btn-last-month:hover{
 box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
 background-color: white;
}

.table-calendar td {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px 1rem;
  border: 1px solid black;
 /*  width: 12.5%; */
}

.table-calendar td:nth-child(-n+6)
 {
  width: 14%;
}

.table-calendar td:nth-child(7)
 {
  width: 4%;
}

.table-calendar td:nth-child(8)
 {
  width: 12%;
}

.vos-heures-dispos-title {
  font-size: 0.7rem!important;
}

.bureau-heures-restantes {
  font-size: 1rem!important;
}

.bureau-reserve {
  background-color: yellow;
}

.bureau-reserve-much {
  background-color: lightsalmon;
}

.bureau-reserve-full {
  background-color: lightcoral;
}

.bureau-non-reserve {
  background-color: lightgreen;
}

.bureau-non-reservable {
  background-color: gray;
}

.has-creneau-partenaire {
  font-weight: bold;
}

/* .has-creneau-partenaire::before {
  content : '';
  display: block;
  position: absolute;
  width  : 1rem;
  height : 1rem;
  background: red;
  clip-path: polygon(0 0,100% 0,0 100%);
} */

/* HEURES */

#leJour .heure-line {
  font-size: 1.2rem;
}

#leJour p {
  font-size: 1.1rem;
}

#leJour h2,
#leJour h3 {
  text-align: center;
}

#leJour-nomPartenaire-h3 {
  margin: 20px auto;
}

#leJour-nomPartenaire-span {
  background-color: var(--main-color-light);
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#closeLeJour {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--main-color-accent-light);
  width: 100px;
  max-width: 95%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.heure-line {
  background-color: var(--main-color-accent-light);
  padding: 3px;
  border: 1px solid var(--main-color-accent);
}

.heure-digitale {
  background-color: var(--main-color-accent-light);
  flex: 1;
  text-align: center;
}

.heure-contenu {
  width: 300px;
  max-width: 70%;
  padding: 5px;
  border: 1px solid black;
  flex: 4;
}

.heure-modifiable {
  background-color: rgb(255, 255, 140);
}

.heure-partenaire-sup {
  background-color: rgb(205,205,100);
  cursor: not-allowed;
  line-height: 12px;
}

.heure-partenaire-admin {
  cursor: not-allowed;
}

.heure-partenaire-sup-admin {
  background-color: rgb(205,205,100);
  cursor: pointer;
  line-height: 12px;
}


.heure-partenaire-sup span,
.heure-partenaire-sup-admin span{
  font-size: 10px;
}

.heure-non-modifiable {
  background-color: lightcoral;
  cursor: not-allowed;
}

.heure-libre {
  background-color: lightgreen;
}

/* *********** PARTIE ADMIN ************ */

#div-select-abonne-for-calendar {
  width: 100%;
  text-align: center;  
}

#select-abonne-for-calendar {
  padding: 1rem;
  width: 90%;


  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.option-abonne-for-calendar{
  font-size: 1.1rem;
}

#liste-calendriers-admin {
  border: 0;
  padding: 0;
  margin: 1rem 0 0 0;
}


/* *********** FIN PARTIE ADMIN ************ */


@media screen and (max-width: 480px) {

  #reservations-h1 {
    font-size: 1.8rem;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }

  .bureau-title h2 {
    font-size: 1.5rem;
  }

  .bureau-entete {
    flex-direction: column;
    align-items: center;
  }


  .btn-next-month,
  .btn-last-month{
    width: 40px;
  }
  .table-calendar td,
  .table-calendar-title-line td{
    font-size: 1rem;
    padding: 5px 0;
  }
  


}