/* ************** PAGE UNIVERS : Tous les univers ************** */

.all-univers-back {
  background: linear-gradient(to bottom, var(--main-color-accent2), var(--main-color-accent2) 60px, #fff 60px, #fff 100%);
}

#page-univers-all h1 {
  font-size: 1.9rem;
  text-align: center;
  margin: 0 auto;
  line-height: 60px;
}
/* ************** FIN PAGE UNIVERS : Tous les univers ************** */



/* ********** UNIVERS ************ */
#tout-afficher{
  display: none;
}

.univers-back {
  background: linear-gradient(to bottom, var(--main-color-accent2), var(--main-color-accent2) 255px, #fff 255px, #fff 300px);
}



.univers-sticker{
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 800px;
  min-height: 300px;
  margin: 0 auto;
  border: 0;
  
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

.univers-sticker>div{
  background-color: var(--main-color-accent-light-transparent);
  /* rgba(38,174,144,0.7); */
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.univers-enfant-div {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 2rem;
  max-width: 800px;
}

.univers-enfant {
  min-height: 3rem;
  background-color: var(--main-color-light);
  margin: 1px;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  
}

.down-arrow-univers-enfant {
  max-width: 70px;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0);
  transition: all 1s ease;
  background: radial-gradient(#000,#000 40%, var(--main-color-light) 67%, var(--main-color-light));
}

.down-arrow-univers-enfant:hover {
  border: 2px solid var(--main-color-accent-light-transparent);
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.44);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-mis-en-relation {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--main-color-accent2)!important;
    color: white;
    border: 1px solid var(--main-color-accent);
    width: 70%;
}

.btn-mis-en-relation:hover {
  color: var(--main-color-dark);
  border: 1px solid var(--main-color-dark);
}


.link-show-partenaire-detail {
  color: green;
  font-weight: 700;
}

.link-hide-partenaire-detail {
  color: red;
  font-weight: 700;
}


@media screen and (max-width: 732px) {
  
  .univers-back {
    background: linear-gradient(to bottom, var(--main-color-accent2), var(--main-color-accent2) 204px, #fff 204px, #fff 240px);
  }

  .univers-sticker{
    min-height: 240px;
  }

  .down-arrow-univers-enfant {
    max-width: 50px;
  }
  

  .entete-partenaire-sticker {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .univers-enfant {
    font-size: 1rem;
  }

  #page-univers-all h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  #page-univers-all h1 {
    font-size: 16px;
    padding: 0;
  }
}