/* ********** UNIVERS ************ */
#tout-afficher{
  display: none;
}


.univers-sticker{
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 300px;
  margin: 5px;
  border: 1px solid #777;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.univers-sticker>div{
  background-color: rgba(38,174,144,0.7);
  display: flex;
  flex-flow: column;
  padding: 1rem;
  margin-top: 10%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#univers-enfant-div {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 2rem;
}

.univers-enfant {
  min-height: 3rem;
  background-color: var(--main-color-accent-light);
  margin: 1px;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}





@media screen and (max-width: 732px) {
  .univers-sticker{
    min-height: 240px;
  }
}
